<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
  <meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
</head>
<body>
<h1>Добавить пользователя</h1>
<form action="#" th:action="@{/admin/add}" th:object="${user}" method="POST">
  <p>Никнейм: <input type="text" th:field="*{username}" th:charset="utf-8"/></p>
  <p>Пароль: <input type="text" th:field="*{password}" th:charset="utf-8"/></p>
  <p>Электронная почта: <input type="text" th:field="*{email}" th:charset="utf-8"/></p>
  <p>Роль: <label>
    <input type="checkbox" name="roles"
    th:each="role : ${roles}"
    th:text="${role.name}"
    th:value="${role.id}"
    th:field="*{roleList}">
    </label>
  </p>
  <input type="submit" value="Добавить"/>
</form>
<br/>
</body>
</html>