<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<body>
<div>
    <br>
    <style>
        table {
            border: 4px double #333;
            border-collapse: separate;
            width: 75%;
            border-spacing: 7px 11px;
        }
        td {
            padding: 5px;
            border: 1px solid #a52a2a;
        }
    </style>
    <table>
        <thead>
        <tr>
            <th>id</th>
            <th>Никнейм</th>
            <th>Пароль</th>
            <th>Почта</th>
            <th>Роль</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${admin}">
            <td th:text="${admin.getId()}"></td>
            <td th:text="${admin.getUsername()}"></td>
            <td th:text="${admin.getPassword()}"></td>
            <td th:text="${admin.getEmail()}"></td>
            <td th:text="${admin.roleListToString()}"></td>
        </tr>

        </tr>
        </tbody>
    </table>
    <p>Все пользователи</p>
    <form action="/admin/all-users" target="_blank">
        <button>Все пользователи</button>
    </form>
    <form action="/admin/add" target="_blank">
        <button>Добавть пользователя</button></form>
    <br/>
    <form th:method="POST" th:action="@{/logout}">
        <input type="submit" value="Logout"/>
    </form>
</div>
</body>
</html>